<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ドル円相場,日経平均株価</title>
</head>
<body>
    <h1>ドル円相場,日経平均株価検索期間</h1>
    <form action="/result/" method="get">
        <label for="start">開始日:</label>
        <input type="date" id="start" name="start" required>
        <br>
        <label for="end">終了日:</label>
        <input type="date" id="end" name="end" required>
        <br>
        <input type="submit" value="検索">
    </form>
    <nav>
        <ul>
            <li><a href="{% url 'individual_search' %}">個別銘柄</a></li>
        </ul>
    </nav>
</body>
</html>